<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addData" method="post">
        <input type="text" placeholder="Enter The Name" name="name">
        <input type="text" placeholder="Enter The subject" name="subject">
        <input type="text" placeholder="Enter The city" name="city">
        <button type="submit">Add Data</button>
    </form>
</body>
</html>