<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@600&family=Croissant+One&family=Dancing+Script:wght@400;500&family=Geologica&family=Josefin+Sans&family=Mooli&family=Mukta+Mahee:wght@700&family=Nunito:wght@500&family=Poppins:wght@300;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="a2">
            <a href="" style="color: #EE4266;">HOME</a>
            <a href="shop.html" target="_blank">SHOP</a>
            <a href="">CATALOGUE</a>
            <a href="">NEW ARRIVALS</a>
            <a href="contact.html" target="_blank">CONTACT</a>
        </div>

        <i style="color: #868995; margin-left: 200px; font-size: 18px;" class="fa-solid fa-magnifying-glass"></i>
        <i style="color: #868995; margin-left: 20px; font-size: 18px;" class="fa-regular fa-heart"></i>
        <i style="color: #868995; margin-left: 20px; font-size: 18px;" class="fa-solid fa-bag-shopping"></i>



    </header>
    <div class="a1">
        <h4 class="aa">
            SHOP MAX
        </h4>

    </div>

    <div class="b1">
        <div class="b2">
            <img src="img/7.png" alt="">
        </div>
        <div class="b3">
            <p class="b4">
                <b>#NEW SUMMER COLLECTION 2019</b>

            </p>
            <h1 class="b5">
                ARRIVALS SALES
            </h1>
            <button class="b6">
                SHOP NOW
            </button>
        </div>
    </div>

    <div class="b7"></div>
    <p class="b8">
        DISCOVER<br>THE COLLECTIONS
    </p>

    <div class="b9">
        <img src="img/8.png" alt="">
    </div>

    <div class="b10">
        <img src="img/6.png" alt="">
    </div>


    <div class="b11">
        <img src="img/9.png" alt="">
    </div>

    <div class="b12">
        <p class="g1">
            Women <span style="color: rgb(206,212,218); margin-left: 10px;">25 items</span>
        </p>
    </div>

    <div class="b13">
        <p class="g2">
            men <span style="color: rgb(206,212,218); margin-left: 10px;">25 items</span>
        </p>
    </div>

    <div class="b14">
        <p class="g3">
            Shoes <span style="color: rgb(206,212,218); margin-left: 10px;">25 items</span>
        </p>
    </div>


    <!-- <div class="b15">

        </div> -->



    <div class="d4">

        <div class="d3"></div>
        <div class="d3-1"><span style="margin-top: -20px;">POPULAR PRODUCTS</span></div>
    </div>
    <div class="d5main">
        <div class="d5">
            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/prod_2.png" alt="">

            </div>
            <p class="e1">Gray Shoe</p>
            <p class="e2">
                <b>
                    $20.00
                </b>
            </p>
        </div>
        <div class="d5">

            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/prod_3.png" alt="" style="height: 250px;">
            </div>
            <p class="e3">
                Blue Shoe High Heels

            </p>
            <p class="e4">
                <b>
                    <del>$46.00 </del> &nbsp; $28.00
                </b>
            </p>
        </div>
        <div class="d5">
            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/model_5.png" alt="" style="height: 500px;">
            </div>
            <p class="e5">
                Denim Jacket
            </p>
            <p class="e6">
                <b>
                    <del>$46.00</del> &nbsp; $28.00
                </b>
            </p>
        </div>
    </div><br>
    <div class="d5main">
        <div class="d5">
            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/prod_1.png" alt="" style="height: 300px;">
            </div>
            <p class="e7">
                <b>


                    Leather Green Bag
                </b>
            </p>
            <p class="e8">
                <del>$46.00</del> &nbsp; $28.00
            </p>
        </div>
        <div class="d5">
            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/model_1.png" alt="" style="height: 550px;">
            </div>
            <p class="e9">
                Smooth Cloth
            </p>
            <p class="e10">
                <del>$46.00</del> &nbsp; $28.00
            </p>
        </div>
        <div class="d5">
            <div class="d5-1" style="border: none;">
                <img src="https://preview.colorlib.com/theme/shopmax/images/model_7.png" alt="" style="height: 460px;">
            </div>
            <p class="e11">
                Yellow Jacket
            </p>
            <p class="e12">
                <b>
                    $58.00
                </b>
            </p>
        </div>
    </div>

    <br><br>
    <div class="d6">
        <center>
            <h2 style="margin-top: 100px; font-size: 30px;">MOST RATED</h2>
            <div class="d6-1"></div>

        </center>
        <br><br>

        <div class="d5main">
            <div class="d5">
                <div class="d5-1" style="border: none;">
                    <img src="https://preview.colorlib.com/theme/shopmax/images/model_1.png" alt=""
                        style="height: 550px;">
                </div>
                <br>
                <p style="font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">Smooth Cloth</p>
                <strong> <del
                        style="color: #808080; font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">$46.00</del>&nbsp;&nbsp;&nbsp;$28.00</strong>

            </div>
            <div class="d5">

                <div class="d5-1" style="border: none;">
                    <img src="https://preview.colorlib.com/theme/shopmax/images/prod_3.png" alt=""
                        style="height: 250px;">
                </div>
                <br>
                <p style="font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">Blue Shoe High Heels</p>
                <strong> <del
                        style="color: #808080; font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">$46.00</del>&nbsp;&nbsp;&nbsp;$28.00</strong>
            </div>
            <div class="d5">
                <div class="d5-1" style="border: none;">
                    <img src="https://preview.colorlib.com/theme/shopmax/images/model_5.png" alt=""
                        style="height: 500px;">
                </div> <br>
                <p style="font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">Denim Jacket
                </p>
                <strong> <del
                        style="color: #808080; font-family: Arial, Helvetica, sans-serif; margin-left: 20px;">$46.00</del>&nbsp;&nbsp;&nbsp;$28.00</strong>

            </div>
        </div>
        <br><br><br>
        <center>
            <i class="fa-solid fa-arrow-left q" style="color: #e7e8e9;"></i>
            <i class="fa-solid fa-arrow-right q" style="color: #0a0a0a;"></i>
        </center>
    </div>

    <div class="f1">
        <div class="f2">
            <img src="img/9.png" alt="">
        </div>

        <div class="f3">
            <p class="f4">
                <b>
                    #NEW SUMMER COLLECTION 2019
                </b>

            </p>
            <h1 class="f5">
                NEW SHOES
            </h1>

            <button class="b6">
                SHOP NOW
            </button>
        </div>

    </div>

    <footer>

        <ul class="u1">
            <h1>PROMO</h1>
            <img src="https://preview.colorlib.com/theme/shopmax/images/about_1.jpg" alt="">

            <p class="p1">Finding Your Perfect Shirts This Summer</p>

            <p class="p2">
                Promo from July 15 — 25, 2019
            </p>
        </ul>

        <ul class="u2">
            <li style="margin-top: 0px; color: black;">QUICK LINKS</li>
            <li style="margin-top: 20px;">Sell online</li>
            <li>Features</li>
            <li>Shopping cart</li>
            <li>Store builder</li>
        </ul>


        <ul class="u3">
            <li>Mobile commerce</li>
            <li>Dropshipping</li>
            <li>Website <br> development</li>
        </ul>

        <ul class="u4">
            <li>Point of sale</li>
            <li>Hardware</li>
            <li>Software</li>
        </ul>

        <ul class="u5">
            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; list-style: none;">CONTACT INFO
            </li>

            <li style="margin-top: 10px; width: 300px;"><i style="color: #ee4266;"
                    class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp; 203 Fake St. Mountain View, San <br> <span
                    style="margin-left: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Francisco,
                    California, USA</span> </li>
            <li><i style="color: #ee4266;" class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;+2 392 3929 210</li>
            <li><i style="color: #ee4266; " class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;emailaddress@domain.com
            </li>
        </ul>

        <div class="u6">
            <p class="x1" style="margin-left: 60px;">
                SUBSCRIBE
            </p>

            <button class="x2">
                <p class="x3">
                    Email
                </p>
            </button>

            <button class="x4">
                Send
            </button>

        </div>

        <p class="w4">Copyright ©2023 All rights reserved | This template is made with by Colorlib</p>
    </footer>

</body>
</html>